

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif, STHeiti;
}

body{
background: linear-gradient(180deg, rgba(203, 218, 221, 0.52) 0%, rgba(204, 212, 209, 0.26) 50%, rgba(255, 255, 255, 0.00) 100%);
     
}

.station{
    display: flex;
    justify-content: space-between;
}

.station a{
    width: 180px;
    line-height: 2;
    background-color: #7DC7E0;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    
}




.wrapper{
    margin:0 auto ;
    /* border: 1px solid #ff0000;; */
    width: 100%;
    height: 100%;
   padding: 0 30px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* position: fixed; */
    z-index: 1000;
    /* width: 100%; */
    margin: 20px auto;

}

header .logo img {
    height: 100px;
    width: 100px;
}

header nav ul {
    list-style: none;
    display: flex;
    background: rgba(255, 255, 255, 0.65);
    width: 480px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    float: right;

    border-radius: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #7DC7E0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav ul .thisstation a{
    width: 180px;
    line-height: 2;
    background-color: #7DC7E0;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer{
    display: flex;
    width: 1512px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background: #7DC7E0;    
    color: #fff;
    font-size: 20px;
}

.footer i{
    margin-right: 5px;
}

.footer .hover{
    display: none;
}

.footer:hover .hover{
    display: block;
}

.footer:hover .taiza{
    display: none;
}


.Main{
    margin: 0 auto;
    width: 1000px;
    height: 1750px;
    /* border: 1px solid #000; */
}

.Main h1{
    overflow: hidden;
    color: #7DC7E0;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    line-height: .9;
    /* margin-left: 100px; */
    
}

.Main h2{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: 1000;
    line-height: 1;
}

.content{
    /* border: 1px solid #000; */
    width: 800px;
    /* height: 1800px; */
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.Main .content p{
    color: #7DC7E0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    font-family: 'cwTeXFangSong', serif;
    line-height: 1.5;
}



/* ----- 斷點 430 ----- */
@media screen and (max-width: 360px){

    






}