@import url(../TBDC/css/reset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cwTeXFangSong', serif;
}

body{
background: linear-gradient(180deg, rgba(203, 218, 221, 0.52) 0%, rgba(204, 212, 209, 0.26) 50%, rgba(255, 255, 255, 0.00) 100%);

    
     
}



.station{
    display: flex;
    justify-content: space-between;
    font-family: 'cwTeXFangSong', serif;
}

.station a{
    width: 180px;
    line-height: 2;
    background-color: #7DC7E0;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    
}



.wrapper{
    margin:0 auto ;
    /* border: 1px solid #ff0000;; */
    width: 100%;
    height: 100%;
   padding: 0 30px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* position: fixed; */
    z-index: 1000;
    /* width: 100%; */
    margin: 20px auto;
    font-family:  'cwTeXFangSong', serif;
    ;

}

header .logo img {
    height: 100px;
    width: 100px;
}

header nav ul {
    list-style: none;
    display: flex;
    background: rgba(255, 255, 255, 0.65);
    width: 480px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    float: right;

    border-radius: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #7DC7E0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


header nav ul .thisstation a{
    width: 180px;
    line-height: 2;
    background-color: #7DC7E0;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer{
    display: flex;
    width: 100%;
    line-height: 2;
    justify-content: center;
    align-items: center;
    background: #7DC7E0;    
    color: #fff;
    font-size: 20px;
    font-family: 'cwTeXFangSong', serif;
}

.footer i{
    margin-right: 5px;
}

.footer .hover{
    display: none;
}

.footer:hover .hover{
    display: block;
}

.footer:hover .taiza{
    display: none;
}


.Main{
    margin: 0 auto;
    width: 1000px;
    /* height: 1000px; */
    /* border: 1px solid #000; */
}

.Main h1{
    overflow: hidden;
    color: #7DC7E0;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    line-height: .9;
    /* margin-left: 100px; */
    font-family: 'cwTeXFangSong', serif;

    
}

.Main h2{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: 1000;
    line-height: 1;
    font-family: 'cwTeXFangSong', serif;
}





/* card */
.card{
    margin: 50px auto;
    padding: 0;
    margin-bottom: 120px;
   
 
 }
 

/* 圖卡文字 */
.card ul{
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex; */
    margin: 0 100px;
    /* padding: 30px 30px; */
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 1.3333333%;
  
    display: grid;
    grid-template-rows: auto;
    gap: 40px 20px;

    /* border: 1px solid #000; */

    width: 100px;

    
}

.card ul li{
    outline: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    height: 400px;
    margin: auto;
    /* margin-bottom: 37px; */
    background-color: #7DC7E0;
    text-decoration: none;
    color: #FFF;
    font-family: 'cwTeXFangSong', serif;
    padding-bottom: 20px;

    /* border: 1px solid #000; */
}

.card ul li:hover img{
    display: none;
}

.card ul li:hover .left{
    display: none;
    background-color: #fff;
}

.card ul li:hover{
    background-color: #2f7f9c;
}

.card ul li:hover .card{
    background-color: #2f7f9c;
}


.card ul li .block{
    display: none;
}

.block{
    font-size: 12px;
    padding: 20px;
    color: #ffffff;
    line-height: 1;
}

.block .content1{
    font-weight: 1000;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 3px;
}

.block hr{
   border-color: #7DC7E0;
   border-width: .8px;
    margin-bottom: 5px;
}

.block .content2{
    margin-bottom: 15px;
    /* color: #ffffff; */
    line-height: 1.5;
    /* border: 1px solid #ffffff; */
    /* border-radius: 4px; */
    /* padding: 4px; */
    font-weight: 1000;
}

.block .content3{
    margin-bottom: 15px;
    /* font-weight: bolder; */
    line-height: 1.5;
    font-weight: 1000;
    background-color: #7DC7E0;
    padding: 4px;
    border-radius: 6px;
   color: #000000;
}

.block .content4{
    margin-bottom: 5px;
    font-weight: 1000;
    line-height: 1.5;
    /* color: #FFF; */
    

}


/* 圖卡 hover */
.card li:hover .block{
    background-color: #2f7f9c;
    display: block;
}


/* 圖卡照片 */
.card li img{
    display: block;
    width: 100%;
    height: 80%;
    /* width: 75%;
    height: 70%; */
}
/* 圖卡文字內容置左 */
.card .left{
    margin-top: 20px;
    margin-left: 20px;
}
/* 圖卡標題 */
.card .left h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* 圖卡內容物*/
.card .left p{
    font-size: 16px;
}
/* 圖卡內容物置右*/
.card .right{
    text-align: right;
    margin-right: 15px;
    box-sizing: border-box;
    padding-bottom: 40px;
}
/* 圖卡內容物*/
.card .right p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
}
/* 圖卡訂購按鈕*/
.card .right a{
    font-size: 20px;
    font-weight: bold;
    width: 90px;
    /* height: 54px; */
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    background-color: #E10C19;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    text-align: center;
    color: #EBEBEB;
}

/* 圖卡訂購按鈕 Hover*/
.card .right a:hover{
    color: #E10C19;
    background-color: #ffffff;
    outline: 3px solid #E10C19;
}





